#circulize, #flowfield, #wordOfElements {
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: 100%; */
}

#circulize {
    grid-area: circulize;
    background-image: url("screenshot_Circulize.png");
}

#flowfield {
    grid-area: flowfield;
    background-image: url("screenshot_Flowfield.png");
}

#wordOfElements {
    grid-area: wordOfElements;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    
}

#projectsList {
    display: grid;
    height: 100vh;
    grid-template-areas: 
        "circulize flowfield"
        "circulize flowfield"
        "wordOfElements wordOfElements";
}
.projectLink {
    font-size: 3vw;
    font-family: "JetBrains Mono", Consolas;
    text-decoration: none;
    color: white;
}

.projectLink:hover {
    text-decoration: underline;
}

.link {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s;
}

.link:hover {
    background-color: rgba(0, 0, 0, 0.1);
}