body {
    margin: 0;
    background-color: black;
}
* {
    color: white;
    font-family: "JetBrains Mono";
}

h1 {
    width: 100%;
}

#content {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 70%;
    padding: 30px;
    border-radius: 20px;
    background-color: rgb(10, 10,10);
    margin-top: 20px;
    margin-bottom: 20px;
}

.hcenter {
    text-align: center;
}

#stringInput {
    padding: 10px;
    color: white;
    background-color: rgb(10, 10,10);
    width: 100%;
    border: 1px solid White;
    border-radius: 4px;
}

#btn {
    padding: 10px;
    color: white;
    background-color: rgb(10, 10, 10);
    border: 1px solid white;
    border-radius: 4px;
    margin: auto 0;
}

#btn:hover {
    background-color: rgb(50, 50, 50);
}

#btn:active {
    background-color: rgb(80, 80, 80);;
}

#loading {
    outline: none;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.9);

}

abbr {
    text-decoration: none;
}

#output {
    padding: 20px;
    border: 1px dashed white;
    border-radius: 20px;
}

#backArrow {
    margin: 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 40px;
    height: 40px;
}
